/* ================= FOOTER UTAMA ================= */
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    font-size: 14px;
    color: #cccccc;
    background-color: #000000;
    border-top: 1px solid #1a1a1a;
    margin-top: 50px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.footer p {
    margin: 0;
    opacity: 0.8;
}

/* Responsif untuk layar HP */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        gap: 15px;
    }
}